body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50; /* Зеленый цвет фона */
    color: white; /* Белый цвет текста */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругляем углы */
    transition: background-color 0.3s ease; /* Плавное изменение цвета */
}

button:hover {
    background-color:  #6F42C1; /* Цвет фона при наведении */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}